html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========================================================= */

html {
  background-color: #1c1c1c;
  font-family: "Montserrat";
  color: white;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
}

.inside-header {
  width: 80%;
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 auto;
}

.nav {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.logo-name {
  font-size: 35px;
  font-family: "Montserrat";
  font-weight: 200;
}

.logo-name span {
  font-weight: 800;
}

header a {
  color: white;
}

.content {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.selected {
  border: solid 2px #467df3;
  padding: 6px;
  border-radius: 25px;
}

.me-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.photo {
  border-radius: 50%;
  margin-right: 50px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}

.text {
  line-height: 1.3;
  margin-bottom: 20px;
}

.list-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.divider {
  border-left: 1px solid #467df3;

  height: 100px;
}

.list {
  line-height: 1.3;
}

.list-title {
  margin-bottom: 20px;
  font-weight: 800;
  color: #467df3;
}

.link-icon {
  transition: all 0.2s ease-in-out;
}

.link-icon:hover {
  transform: scale(1.1);
}

.filter-blue {
  filter: invert(36%) sepia(70%) saturate(2378%) hue-rotate(212deg)
    brightness(108%) contrast(91%);
}

.footer {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  justify-content: center;
}

.footer .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 600px;
  height: 600px;
  justify-content: center;
}

.input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  width: 400px;
  background-color: #0a0a0a;
  color: white;
  font-family: "Montserrat";
}

textarea {
  width: 400px;
  height: 100px;
}

.send-button {
  border: none;
  padding: 15px 32px;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  border-radius: 10px;
  color: White;
  font-size: 20px;
  background-color: #467df3;
  transition: all 0.2s ease-in-out;
}

.send-button:hover {
  background-color: #355fb8;
}
